.portfolio-page {
    .text-zone {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      max-width: 70%;
      max-height: 90%;
    }
  
    h1 {
      color: #ffffff;
      font-size: 30px;
      line-height: 60px;
      margin: 0;
      font-family: 'Helvetica';
      font-weight: 400;
    }

    h5, p {
        color:#ffffff;
    }
}

a.deployed-link, a.github-link {
    font-size: 18px;
    color: #3a3a3a;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;

    i {
        transition: all 0.3 ease-out;
    }

    &:hover {
        color: #00f33d;

        svg {
            opacity: 0.2;
        }

        &:after {
            opacity: 1;
        }
    }
}
a.deployed-link {
    &:after {
        content: 'Deployed App';
    }
}

a.github-link {
    &:after {
        content: 'Github';
    }
}

.container {
    position: absolute;
    left: 10%;
    top: 10%;
    max-width: 70%;
    max-height: 90%;
}

.card-footer {

}